.form-container,
.auth1 {
  position: absolute;
  max-width: 400px;
  width: 90%;

  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.auth1 {
  top: 2%;

  font-size: 3rem;

}

.sline {
  text-decoration: line-through rgb(48, 148, 53);
}



.form-container {
  top: 50%;
  transform: translate(-50%, -50%);
}


.mainlogo {
  max-width: 100%;
  height: 995px;
}

.loginform {
  font-size: 1.5rem;
  border: 2px solid white;
  width: 100%;

}


.registerform {
  font-size: 2rem;

  font-weight: bold;
}


.registerlink {
  background-color: rgb(255, 255, 255);
  font-size: 1.2rem;

  color: black;
  border-radius: 20px;
  font-weight: bold;
  padding: 20px;
  margin: 20px 0;

}




.reg {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;

}


@media screen and (max-width: 768px) {

  .form-container,
  .auth1 {
    width: 95%;
  }

  .registerlink {
    padding: 15px;
    margin: 15px 0;
  }
}


@media screen and (max-width: 576px) {
  .auth1 {
    font-size: 2rem;
  }

  .registerform {
    font-size: 1.8rem;
  }

  .loginform {
    font-size: 1.2rem;
  }

  .reg {
    font-size: 1.2rem;
  }
}